PORT=5678
BASE_URL=http://localhost:5678
CLIENT_PORT=1234
CLIENT_URL=http://localhost:1234

# Database
DB_NAME=eatsy_food
DB_HOST=localhost
DB_USER=
DB_PASSWORD=
DB_DIALECT=mysql

# JWT
JWT_SECRET_KEY=
JWT_EXPIRES_IN_1H=1h
JWT_EXPIRES_IN_30D=30d

# Session
SESSION_SECRET_KEY=
SESSION_MAX_AGE_1H=3600000 # 1 hour
SESSION_MAX_AGE_30D=2592000  # 30 days

# Cookie
COOKIE_MAX_AGE_1H=3600000 # 1 hour
COOKIE_MAX_AGE_30D=2592000  # 30 days

# Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_MESSAGE_SERVICE_SID=
TWILIO_PHONE_NUMBER=

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET_ID=
GOOGLE_REDIRECT_LOGIN=http://localhost:5678/auth/google/redirect

# Facebook
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET_ID=
FACEBOOK_REDIRECT_LOGIN=http://localhost:5678/auth/facebook/redirect

# Apple

# Nodemailer
FROM_EMAIL=
FROM_EMAIL_PASSWORD=